html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-6 bg-gray-900")
                div(class="container mx-auto px-4")
                    div(class="flex items-center justify-between px-6 py-3.5 bg-gray-800 rounded-full")
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto")
                                    a(href="index.html")
                                        img(src="zanrly-assets/logos/zanrly-logo-white.svg", alt="")
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto hidden lg:block")
                                    ul(class="flex items-center justify-center")
                                        li(class="mr-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="index.html", contenteditable="false") Home
                                        li(class="mr-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="index.html") How it works
                                        li(class="mr-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="index.html") About us
                                        li
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="contact.html", contenteditable="false") Contact
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto hidden lg:block")
                                    div(class="flex flex-wrap -m-2")
                                        div(class="w-full md:w-auto p-2")
                                            a(class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold hover:bg-gray-900 focus:ring-4 focus:ring-gray-500 border border-gray-800 rounded-full", href="login.html") Log In
                                        div(class="w-full md:w-auto p-2")
                                            a(class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="register.html") Get Started
                                div(class="w-auto lg:hidden")
                                    a(class="inline-block", href="#")
                                        svg(class="navbar-burger text-blue-500", width="45", height="45", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            rect(width="56", height="56", rx="28", fill="currentColor")
                                            path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                    div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                        div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                        nav(class="relative z-10 px-9 pt-8 bg-gray-800 h-full overflow-y-auto")
                            div(class="flex flex-wrap justify-between h-full")
                                div(class="w-full")
                                    div(class="flex items-center justify-between -m-2")
                                        div(class="w-auto p-2")
                                            a(class="inline-block", href="#")
                                                img(src="zanrly-assets/logos/zanrly-logo-white.svg", alt="")
                                        div(class="w-auto p-2")
                                            a(class="inline-block navbar-burger", href="#")
                                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M6 18L18 6M6 6L18 18", stroke="#ffffff", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                div(class="flex flex-col justify-center py-8 w-full")
                                    ul
                                        li(class="mb-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="#") Features
                                        li(class="mb-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="#") Solutions
                                        li(class="mb-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="#") Resources
                                        li
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="#") Pricing
                                div(class="flex flex-col justify-end w-full pb-8")
                                    div(class="flex flex-wrap -m-2")
                                        div(class="w-full p-2")
                                            a(class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:ring-gray-500 border border-gray-700 rounded-full", href="#") Log In
                                        div(class="w-full p-2")
                                            a(class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="#") Get Started
            section(class="py-10 bg-gray-900 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="py-16 px-8 bg-gray-900 overflow-hidden border border-gray-800 rounded-3xl")
                        div(class="max-w-5xl mx-auto")
                            div(class="mb-10 md:max-w-md mx-auto text-center")
                                span(class="inline-block mb-4 text-sm text-blue-500 font-bold uppercase tracking-widest") Contact Us
                                h2(class="font-heading mb-6 text-4xl md:text-5xl lg:text-6xl text-white font-black tracking-tight") Get connected
                                p(class="text-gray-400 font-bold") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Malesuada tellus vestibulum, commodo pulvinar.
                            form(class="p-10 bg-gray-800 rounded-3xl")
                                div(class="flex flex-wrap -m-5 mb-1")
                                    div(class="w-full md:w-1/2 p-5")
                                        label(class="block mb-2 text-sm text-gray-500 font-bold", for="contactDarkBorderInput2-1") Full Name
                                        input(class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-900 placeholder-gray-500 outline-none focus:ring-4 focus:ring-blue-200 rounded-full", id="contactDarkBorderInput2-1", type="text", placeholder="Enter your name")
                                    div(class="w-full md:w-1/2 p-5")
                                        label(class="block mb-2 text-sm text-gray-500 font-bold", for="contactDarkBorderInput2-2") Emaill address
                                        input(class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-900 placeholder-gray-500 outline-none focus:ring-4 focus:ring-blue-200 rounded-full", id="contactDarkBorderInput2-2", type="text", placeholder="Email address")
                                div(class="flex flex-wrap -m-5")
                                    div(class="w-full md:w-1/2 p-5")
                                        label(class="block mb-2 text-sm text-gray-500 font-bold", for="contactDarkBorderInput2-4") Subject
                                        input(class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-900 placeholder-gray-500 outline-none focus:ring-4 focus:ring-blue-200 rounded-full", id="contactDarkBorderInput2-4", type="text", placeholder="Type your subject")
                                div(class="flex flex-wrap -m-3.5")
                                    div(class="w-full p-3.5")
                                        label(class="block mb-2 text-sm text-gray-500 font-bold", for="contactDarkBorderInput2-5") Message
                                        textarea(class="appearance-none px-6 py-5 w-full text-lg text-gray-500 font-bold bg-gray-900 placeholder-gray-500 outline-none focus:ring-4 focus:ring-blue-200 rounded-3xl", id="contactDarkBorderInput2-5", type="text", rows="8", placeholder="Enter your message")
                                    div(class="w-full p-3.5")
                                        div(class="flex flex-wrap items-center -m-2")
                                            div(class="w-full md:w-1/2 p-2")
                                                div(class="flex")
                                                    input(class="opacity-0 absolute h-5 w-5", id="contactDarkBorderCheckbox2-1", type="checkbox")
                                                    div(class="flex flex-shrink-0 justify-center items-center w-6 h-6 mr-4 text-transparent bg-gray-800 border border-gray-200 rounded-md")
                                                        svg(width="9", height="7", viewbox="0 0 9 7", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                            path(d="M0.603516 3.77075L2.68685 5.85409L7.89518 0.645752", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
                                                    label(class="text-sm text-gray-500 font-bold", for="contactDarkBorderCheckbox2-1") I’d llike to occasionally receive other communication from Zanrly, such as content and product news.
                                            div(class="w-full md:w-1/2 p-2")
                                                div(class="flex flex-wrap md:justify-end -m-2")
                                                    div(class="w-full md:w-auto p-2")
                                                        a(class="block w-full px-8 md:px-16 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="#") Send Message
