html(lang="en")
    head
        title Page title
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="preconnect", href="https://fonts.gstatic.com")
        link(href="https://fonts.cdnfonts.com/css/satoshi?styles=135009,135005,135007,135002,135000", rel="stylesheet")
        link(rel="stylesheet", href="css/tailwind/tailwind.min.css")
        link(rel="icon", type="image/png", sizes="32x32", href="shuffle-for-tailwind.png")
        script(src="js/main.js")
    body(class="antialiased bg-body text-body font-body")
        div(class="")
            section(class="py-6 bg-gray-900")
                div(class="container mx-auto px-4")
                    div(class="flex items-center justify-between px-6 py-3.5 bg-gray-800 rounded-full")
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto")
                                    a(href="index.html")
                                        img(src="zanrly-assets/logos/zanrly-logo-white.svg", alt="")
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto hidden lg:block")
                                    ul(class="flex items-center justify-center")
                                        li(class="mr-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="index.html", contenteditable="false") Home
                                        li(class="mr-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="index.html") How it works
                                        li(class="mr-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="index.html") About us
                                        li
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="contact.html", contenteditable="false") Contact
                        div(class="w-auto")
                            div(class="flex flex-wrap items-center")
                                div(class="w-auto hidden lg:block")
                                    div(class="flex flex-wrap -m-2")
                                        div(class="w-full md:w-auto p-2")
                                            a(class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold hover:bg-gray-900 focus:ring-4 focus:ring-gray-500 border border-gray-800 rounded-full", href="login.html") Log In
                                        div(class="w-full md:w-auto p-2")
                                            a(class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="register.html") Get Started
                                div(class="w-auto lg:hidden")
                                    a(class="inline-block", href="#")
                                        svg(class="navbar-burger text-blue-500", width="45", height="45", viewbox="0 0 56 56", fill="none", xmlns="http://www.w3.org/2000/svg")
                                            rect(width="56", height="56", rx="28", fill="currentColor")
                                            path(d="M37 32H19M37 24H19", stroke="white", stroke-width="1.5", stroke-linecap="round", stroke-linejoin="round")
                    div(class="hidden navbar-menu fixed top-0 left-0 bottom-0 w-4/6 sm:max-w-xs z-50")
                        div(class="navbar-backdrop fixed inset-0 bg-gray-800 opacity-80")
                        nav(class="relative z-10 px-9 pt-8 bg-gray-800 h-full overflow-y-auto")
                            div(class="flex flex-wrap justify-between h-full")
                                div(class="w-full")
                                    div(class="flex items-center justify-between -m-2")
                                        div(class="w-auto p-2")
                                            a(class="inline-block", href="#")
                                                img(src="zanrly-assets/logos/zanrly-logo-white.svg", alt="")
                                        div(class="w-auto p-2")
                                            a(class="inline-block navbar-burger", href="#")
                                                svg(width="24", height="24", viewbox="0 0 24 24", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                    path(d="M6 18L18 6M6 6L18 18", stroke="#ffffff", stroke-width="2", stroke-linecap="round", stroke-linejoin="round")
                                div(class="flex flex-col justify-center py-8 w-full")
                                    ul
                                        li(class="mb-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="#") Features
                                        li(class="mb-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="#") Solutions
                                        li(class="mb-9")
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="#") Resources
                                        li
                                            a(class="inline-block text-sm font-bold text-gray-200 hover:text-gray-300", href="#") Pricing
                                div(class="flex flex-col justify-end w-full pb-8")
                                    div(class="flex flex-wrap -m-2")
                                        div(class="w-full p-2")
                                            a(class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold bg-gray-800 hover:bg-gray-900 focus:ring-4 focus:ring-gray-500 border border-gray-700 rounded-full", href="#") Log In
                                        div(class="w-full p-2")
                                            a(class="block w-full px-4 py-2.5 text-sm text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="#") Get Started
            section(class="py-10 bg-gray-900 overflow-hidden")
                div(class="container mx-auto px-4")
                    div(class="p-10 bg-gray-900 border border-gray-800 rounded-3xl")
                        div(class="flex flex-wrap md:items-center -m-8")
                            div(class="w-full md:w-1/2 p-8")
                                div(class="py-20 px-8 lg:px-20 bg-gray-800 rounded-3xl")
                                    img(class="mb-20 md:mb-40", src="zanrly-assets/logos/zanrly-logo-xl-white.svg", alt="")
                                    h2(class="font-heading mb-20 md:mb-40 text-4xl md:text-5xl text-white font-black", contenteditable="false") Welcome back. Hope you are fine.
                                    ul(class="max-w-xs")
                                        h3(class="font-heading mb-6 text-xl text-gray-500 font-bold") THINKING CRYPTO WALLETS
                                        li(class="flex flex-wrap mb-6")
                                            svg(class="w-auto mr-2.5", width="25", height="26", viewbox="0 0 25 26", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd", clip-rule="evenodd", d="M12.5 23C18.0228 23 22.5 18.5228 22.5 13C22.5 7.47715 18.0228 3 12.5 3C6.97715 3 2.5 7.47715 2.5 13C2.5 18.5228 6.97715 23 12.5 23ZM17.1339 11.3839C17.622 10.8957 17.622 10.1043 17.1339 9.61612C16.6457 9.12796 15.8543 9.12796 15.3661 9.61612L11.25 13.7322L9.63388 12.1161C9.14573 11.628 8.35427 11.628 7.86612 12.1161C7.37796 12.6043 7.37796 13.3957 7.86612 13.8839L10.3661 16.3839C10.8543 16.872 11.6457 16.872 12.1339 16.3839L17.1339 11.3839Z", fill="#3B82F6")
                                            p(class="flex-1 font-bold text-white") Store
                                        li(class="flex flex-wrap mb-6")
                                            svg(class="w-auto mr-2.5", width="25", height="26", viewbox="0 0 25 26", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd", clip-rule="evenodd", d="M12.5 23C18.0228 23 22.5 18.5228 22.5 13C22.5 7.47715 18.0228 3 12.5 3C6.97715 3 2.5 7.47715 2.5 13C2.5 18.5228 6.97715 23 12.5 23ZM17.1339 11.3839C17.622 10.8957 17.622 10.1043 17.1339 9.61612C16.6457 9.12796 15.8543 9.12796 15.3661 9.61612L11.25 13.7322L9.63388 12.1161C9.14573 11.628 8.35427 11.628 7.86612 12.1161C7.37796 12.6043 7.37796 13.3957 7.86612 13.8839L10.3661 16.3839C10.8543 16.872 11.6457 16.872 12.1339 16.3839L17.1339 11.3839Z", fill="#3B82F6")
                                            p(class="flex-1 font-bold text-white") Receive
                                        li(class="flex flex-wrap")
                                            svg(class="w-auto mr-2.5", width="25", height="26", viewbox="0 0 25 26", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                path(fill-rule="evenodd", clip-rule="evenodd", d="M12.5 23C18.0228 23 22.5 18.5228 22.5 13C22.5 7.47715 18.0228 3 12.5 3C6.97715 3 2.5 7.47715 2.5 13C2.5 18.5228 6.97715 23 12.5 23ZM17.1339 11.3839C17.622 10.8957 17.622 10.1043 17.1339 9.61612C16.6457 9.12796 15.8543 9.12796 15.3661 9.61612L11.25 13.7322L9.63388 12.1161C9.14573 11.628 8.35427 11.628 7.86612 12.1161C7.37796 12.6043 7.37796 13.3957 7.86612 13.8839L10.3661 16.3839C10.8543 16.872 11.6457 16.872 12.1339 16.3839L17.1339 11.3839Z", fill="#3B82F6")
                                            p(class="flex-1 font-bold text-white") Send
                            div(class="w-full md:w-1/2 p-8")
                                form(class="md:max-w-md mx-auto")
                                    div(class="flex flex-wrap -m-3")
                                        div(class="w-full p-3")
                                            label(class="block mb-2 text-sm text-gray-400 font-bold", for="signInDarkBorderInput1-1") Username
                                            input(class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-800 placeholder-gray-500 outline-none border border-gray-700 focus:ring-4 focus:ring-blue-200 rounded-full", id="signInDarkBorderInput1-1", type="text", placeholder="Username")
                                        div(class="w-full p-3")
                                            label(class="block mb-2 text-sm text-gray-400 font-bold", for="signInDarkBorderInput1-2") Password
                                            input(class="appearance-none px-6 py-3.5 w-full text-lg text-gray-500 font-bold bg-gray-800 placeholder-gray-500 outline-none border border-gray-700 focus:ring-4 focus:ring-blue-200 rounded-full", id="signInDarkBorderInput1-2", type="password", placeholder="*************")
                                        div(class="w-full p-3")
                                            div(class="flex flex-wrap items-center justify-between -m-3")
                                                div(class="w-auto p-3")
                                                    div(class="flex items-center")
                                                        input(class="opacity-0 absolute h-6 w-6", id="signInDarkBorderCheckbox1-1", type="checkbox")
                                                        div(class="flex flex-shrink-0 justify-center items-center w-6 h-6 mr-4 text-transparent bg-gray-900 border border-gray-700 border-neutral-200 rounded-md")
                                                            svg(width="9", height="7", viewbox="0 0 9 7", fill="none", xmlns="http://www.w3.org/2000/svg")
                                                                path(d="M0.603516 3.77075L2.68685 5.85409L7.89518 0.645752", stroke="currentColor", stroke-linecap="round", stroke-linejoin="round")
                                                        label(class="text-gray-400 font-bold", for="signInDarkBorderCheckbox1-1") Remember me
                                                div(class="w-auto p-3")
                                                    a(class="text-blue-500 hover:text-blue-600 font-bold", href="password-reset.html") Forgot password?
                                        div(class="w-full p-3")
                                            div(class="flex flex-wrap md:justify-end -m-2")
                                                div(class="w-full p-2")
                                                    a(class="block px-8 py-3.5 text-lg text-center text-white font-bold bg-blue-500 hover:bg-blue-600 focus:ring-4 focus:ring-blue-200 rounded-full", href="#") Log In
                                        div(class="w-full p-3")       
                                        |                   
                                        div(class="w-full p-3")
                                            div(class="flex flex-wrap md:justify-end -m-2")       
                                            |                     
